---
import About from '../components/About.astro';
import CodeFile from '../components/CodeFile.astro';
import MadeWith from '../components/MadeWith';

import fPng from '../images/frankenstein-fritz-flame.png';
import fWebp from '../images/frankenstein-fritz-flame.webp';

const jsCode = `
class HelloMessage extends Component {
  static props = {
    name: { attribute: true }
  }

  render() {
    return (
      <div>Hello {this.name}!</div>
    );
  }
}

fritz.define('hello-message', HelloMessage);
`;

const htmlCode = `
<hello-message name="World"></hello-message>

<script type="module">
  import fritz from 'https://unpkg.com/fritz@next/window.js';

  fritz.use(new Worker('./worker.js'));
</script>
`;
---

<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>Fritz - Take your UI off the main thread</title>
<link rel="manifest" href="./manifest.json">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="theme-color" content="#58A4B0"/>
<link rel="shortcut icon" href="/favicon.ico">
<style>
  :root {
    --gray: #BAC1B8;
    --cadetblue: #58A4B0;
    --jet: #303030;
    --cyan: #0C7C59;
    --vermilion: #D64933; 
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    background-color: var(--gray);
    margin: 0;
  }
</style>
<style>
html {
  --main-bg: var(--cadetblue);
  --alt-bg: var(--gray);

  --main-color: var(--jet);
  --alt-color: #fff;
}

a, a:visited {
  font-weight: 600;
}

.shadow-section {
  box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3);
  margin-bottom: 12px;
}

.intro, .about {
  padding: 2.7777777777777777rem 2.2222222222222223rem 1.6666666666666667rem 2.2222222222222223rem;
}

/* intro */
.intro {
  text-align: center;
  background-color: var(--main-bg);
  color: var(--main-color);
}

.primary-title {
  font-size: 2.2em;
}

.fritz-flame {
  width: 14rem;
  border-radius: 0.8rem;
  min-height: 134px;
}

.github {
  display: inline-block;
  text-align: center;
  width: 11rem;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  font-size: 150%;
  font-weight: 100;
}

.github, .github:visited {
  color: #fff;
  background-color: var(--vermilion);
  text-decoration: none;
}

.intro .code-file {
  display: block;
  width: 60%;
  margin: auto;
  text-align: initial;
  font-size: 130%;
}

.code-file:nth-of-type(1) {
  margin-top: 4rem;
}

@media only screen and (max-width: 768px) {
.intro .code-file {
  width: 100%;
  font-size: 90%;
}
}
/* end intro */

footer {
background-color: var(--main-bg);
height: 7rem;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
font-size: 120%;
}
</style>

<main>  

  <section class="intro shadow-section">
    <header class="title">
      <h1 class="primary-title">Fritz</h1>
      <picture>
        <source srcset={fWebp} type="image/webp"/>
        <source srcset={fPng} type="image/jpeg"/>
        <img src={fPng} class="fritz-flame" title="Fritz, with a flame"/>
      </picture>
      <h2>Take your UI off the main thread.</h2>
    </header>

    <a class="github" href="https://github.com/matthewp/fritz">GitHub</a>

    <CodeFile name="worker.js" lang="js" code={jsCode} class="code-file" />
    <CodeFile name="index.html" lang="html" code={htmlCode} class="code-file" />
  </section>

  <About class="about" />

  <footer>
    <MadeWith />
  </footer>
</main>

<noscript>
  <h1>Oops!</h1>
  <p>It looks like you have JavaScript turned off. Since this is a website about a JavaScript library there's no reason to have it off.</p>
</noscript>
</html>